.btn-primary{
    background-color: var(--primary);
    border-color: var(--primary);
    color: var(--primary-light);

    &:active, &:focus, &:focus-visible {
        background-color: var(--primary);
        border-color: var(--primary);
        color: var(--primary-light);
    }

    &:hover {
        background-color: var(--primary-dark);
        border-color: var(--primary-dark);
    }
}


.btn-outline-primary {
    background-color: #fff;
    border-color: var(--primary);
    color: var(--primary);

    &:active, &:focus, &:focus-visible {
        background-color: #fff;
        border-color: var(--primary);
        color: var(--primary);
    }

    &:hover {
        background-color: var(--primary-dark);
        border-color: var(--primary-dark) !important;
        color: var(--primary-light);
    }
}

.dropdown-item{
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
}