#dashboard{
    padding-top: 75px;
}

.btn-primary{
    background-color: var(--primary);
    border-color: var(--primary);
    color: var(--primary-light);

    &:active, &:focus, &:focus-visible {
        background-color: var(--primary);
        border-color: var(--primary);
        color: var(--primary-light);
    }

    &:hover {
        background-color: var(--primary-dark);
        border-color: var(--primary-dark);
    }
}


.btn-outline-primary {
    background-color: #ffffff !important;
    border-color: var(--primary) !important;
    color: var(--primary) !important;

    &:active, &:focus, &:focus-visible {
        background-color: var(--primary-dark) !important;
        border-color: var(--primary-dark) !important;
        color: var(--primary-light) !important;
    }

    &:hover {
        background-color: var(--primary-dark) !important;
        border-color: var(--primary-dark) !important;
        color: var(--primary-light) !important;
    }
}

.dropdown-item{
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
}